.step2-container {
    display: flex;
    margin-bottom: 100px;
}
.step1-container {
    display: flex;
    justify-content: center;
}

.step {
    min-height: 70vh;
}

#step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exam-esp-select {
    width: 700px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1140px;
    min-height: 90vh;
    background-color: white;
}

.thankyou {
    padding: 100px 350px 0px 150px;
    color: rgb(0, 123, 255);
    align-items: flex-start;
    justify-items: flex-start;
}

.aboutus {
    padding: 50px;
}

.header-container {
    background-color: white;
    width: 100vw;
}

header {
    justify-content: space-between;
}

.form-user {
    padding: 100px;
    width: 700px;
}

.pill-container {
    display: flex;
    justify-content: center;
    width: 90%;
}

.pill {
    border: solid;
    border-width: 5px;
    border-color: rgb(0, 123, 255);
    color: rgb(0, 123, 255);
    border-style: solid;
    transform: skewX(-20deg);
    padding: 5px;
    margin: 10px;
    width: 33%;
    display: flex;
    justify-content: center;
}

.pill h4 {
    transform: skewX(20deg);
}

.pill-selected {
    background-color: rgb(0, 123, 255);
    color: white
}


.img-card {
    height: 200px;
}

.card {
    margin: 30px;
}

.card:hover {
    box-shadow: 5px 20px 15px #0000009c;
}

.selected {
    border-color: aqua;
    border-style: ridge;
    border-width: 5px;
}

.btn-container {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

table {
    margin-top: 50px;
}

#modal-content {
    display: flex;
    justify-content: space-evenly;
}

.ag-select {
    margin-right: 50px;
}